<div class="mb-6">
  <% if @contest.slate %>
    <p class="text-sm text-secondary font-medium"><%= @contest.slate.name %></p>
  <% end %>
  <h1 class="text-3xl font-extrabold text-heading"><%= @contest.name %></h1>
</div>

<% if logged_in? && @seeds_data %>
  <%= render "contests/slate_progress_xp", seeds_data: @seeds_data %>
<% end %>
<% if @contest.open? %>
  <% has_entry = logged_in? && @contest.entries.where(user: current_user, status: [:active, :complete]).exists? %>
  <% if has_entry %>
    <% show_board = params[:add_entry].present? %>
    <% unless show_board %>
      <div class="mb-6">
        <%= link_to contest_path(@contest, add_entry: true), class: "btn btn-outline" do %>
          + Add Another Entry
        <% end %>
      </div>
    <% end %>
    <% if show_board %>
      <%= render "contests/turf_totals_board" %>
    <% end %>
  <% else %>
    <%= render "contests/turf_totals_board" %>
  <% end %>
<% end %>
<% if logged_in? %>
  <%= render "contests/share_invite" %>
<% end %>
<%= render "contests/turf_totals_leaderboard" %>
